include ../componentProfile/_
include ../componentModal/_

template(x-route="/")
  include ../pageMain/_
template(x-route="/sign")
  include ../pageSign/_
template(x-route="/room/all")
  include ../pageRooms/_
template(x-route="/room/await")
  include ../pageRoomAwait/_
template(x-route="/game")
  include ../pageGame/_
template(x-route="/rules")
  include ../pageRules/_

+profile
