$danger: #e5735b

$font-family-sans-serif:      Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default
$headings-font-family:        $font-family-sans-serif !default

@import "~bootswatch/dist/sketchy/variables.scss"
@import "~bootstrap/scss/bootstrap.scss"
@import "~bootstrap-icons/font/bootstrap-icons.scss"
@import "~bootswatch/dist/sketchy/bootswatch.scss"

html, body
  scroll-behavior: auto
  overflow-scrolling: auto
  @extend .h-100

  &::-webkit-scrollbar, *::-webkit-scrollbar
    display: none

  &, *
    -ms-overflow-style: none
    //noinspection CssUnknownProperty
    scrollbar-width: none
    touch-action: pan-y
    -webkit-touch-callout: none

  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

[x-cloak]
  display: none !important

body
  //overflow-x: hidden
  padding: 0 calc((max(560px, 100vw) - 560px) / 2)

  background-size: 100vh max(calc(560px * 2.94), 100%)

  & > *
    position: relative

  &[data-bs-theme=light]
    background-color: $gray-300

//noinspection CssInvalidPseudoSelector
input::-webkit-contacts-auto-fill-button
  visibility: hidden
  display: none !important
  pointer-events: none
  position: absolute
  right: 0

[data-bs-theme=light] nav.main-nav
  @extend .bg-light
[data-bs-theme=dark]
  nav.main-nav
    .navbar-brand
      @extend .text-light
