.vstack.h-100(x-authredirect:unauthed="/sign")
  +navbar
    li.nav-item.me-auto
      a.nav-link.py-0(x-link.replace, href="/")
        i.bi.bi-chevron-compact-left
        span(x-text="$store.loc.l.pageMain.title")
    li.nav-item
      +profileButton.nav-link.py-0
        i.bi.bi-person-circle.me-1
        span(x-text="$store.loc.l.pageMain.actions.profile")
  .container-fluid.my-5
    .row
      .col
        .card
          .card-body(x-show="$store.loc.l.lang === 'ru'")
            p.card-text
              | "Лото" - это онлайн игра, в которой участвуют игроки, имеющие по 3 игровые карточки.
            h4.card-title Игровой процесс
            p.card-text
              | В процессе игры объявляются "бочонки" - номера. Игроки должны нажимать на соответствующие объявленным номерам позиции на своих карточках, тем самым их "закрывая".

            h4.card-title Победа в игре
            p.card-text
              | Победителем становится игрок, который первым закрыл все номера хотя бы на одной из своих карточек.

            h4.card-title Дополнительные правила
            p.card-text
              | "Бочонки" могут быть вынуты в произвольном порядке. Если на карточке отмечается номер, которого не было среди "бочонков", отметка не срабатывает.
          .card-body(x-show="$store.loc.l.lang === 'en'")
            p.card-text
              | "Lotto" is an online game in which players participate, each having 3 game cards.

            h4.card-title Gameplay
            p.card-text
              | During the game, "barrels" or "balls" - numbers are announced. Players must click on the positions on their cards corresponding to the announced numbers, thus "closing" them.

            h4.card-title Winning the Game
            p.card-text
              | The winner is the player who first closed all the numbers on at least one of their cards.

            h4.card-title Additional Rules
            p.card-text
              | "Barrels" can be pulled out in random order. If a number is marked on the card that was not among the "barrels", the mark is considered invalid.
