template(x-route="/", x-authredirect:unauthed="/sign")
  .container-fluid
    .row
      .col.text-center.mt-5
        .display-1.fw-bolder.text-warning(x-text="$store.loc.l.pageMain.title")
    .row.mt-5
      .col.d-flex.flex-column
        .semitransparent-container.container-fluid
          .row(x-show="$store.user.roomId", x-init="$store.user.refresh()")
            .col.pb-4
              a.btn.btn-lg.btn-warning.w-100(x-link, href="/room/await")
                i.bi.bi-play.me-2
                span(x-text="$store.loc.l.pageMain.actions.continue")
          .row(x-show="$store.user.gameId")
            .col.pb-4
              a.btn.btn-lg.btn-warning.w-100(x-link, href="/game")
                i.bi.bi-play.me-2
                span(x-text="$store.loc.l.pageMain.actions.continue")

          .row(x-show="!$store.user.gameId && !$store.user.roomId")
            .col.pb-4
              a.btn.btn-lg.btn-warning.w-100(x-link, href="/room/all")
                i.bi.bi-joystick.me-2
                span(x-text="$store.loc.l.pageMain.actions.joinGames")
          .row
            .col
              a.btn.btn-lg.btn-light.w-100(x-link, href="/profile")
                i.bi.bi-person-circle.me-2
                span(x-text="$store.loc.l.pageMain.actions.profile")
    .row.my-5
      .col
        .card.bg-black.bg-gradient.text-white.opacity-75(
          x-show="$store.loc.l.lang === 'ru'"
        )
          .card-header.text-center
            h2 Правила игры в Лото
          .card-body.opacity-75
            h5.card-title Основные правила
            p.card-text
              | "Лото" - это онлайн игра, в которой участвуют игроки, имеющие по 3 игровые карточки.
            hr
            h5.card-title Игровой процесс
            p.card-text
              | В процессе игры объявляются "бочонки" - номера. Игроки должны нажимать на соответствующие объявленным номерам позиции на своих карточках, тем самым их "закрывая".
            hr
            h5.card-title Победа в игре
            p.card-text
              | Победителем становится игрок, который первым закрыл все номера хотя бы на одной из своих карточек.
            hr
            h5.card-title Дополнительные правила
            p.card-text
              | "Бочонки" могут быть вынуты в произвольном порядке. Если на карточке отмечается номер, которого не было среди "бочонков", отметка не срабатывает.
        .card.bg-black.bg-gradient.text-white.opacity-75(
          x-show="$store.loc.l.lang === 'en'"
        )
          .card-header.text-center
            h2 Lotto Game Rules
          .card-body.opacity-75
            h5.card-title Basic Rules
            p.card-text
              | "Lotto" is an online game in which players participate, each having 3 game cards.
            hr
            h5.card-title Gameplay
            p.card-text
              | During the game, "barrels" or "balls" - numbers are announced. Players must click on the positions on their cards corresponding to the announced numbers, thus "closing" them.
            hr
            h5.card-title Winning the Game
            p.card-text
              | The winner is the player who first closed all the numbers on at least one of their cards.
            hr
            h5.card-title Additional Rules
            p.card-text
              | "Barrels" can be pulled out in random order. If a number is marked on the card that was not among the "barrels", the mark is considered invalid.

template(x-route="/sign")
  include ../pageSign/_
template(x-route="/room/all", x-authredirect:unauthed="/sign")
  include ../pageRooms/_
template(x-route="/room/await", x-authredirect:unauthed="/sign")
  include ../pageRoomAwait/_
template(x-route="/game", x-authredirect:unauthed="/sign")
  include ../pageGame/_
template(x-route="/profile", x-authredirect:unauthed="/sign")
  include ../pageProfile/_
