.width-150px
  width: 150px !important
  max-width: 150px !important
  box-sizing: content-box

.height-120px
  height: 120px
  max-height: 120px

[data-bs-theme=light]  .lotto-table, .lotto-table .card
  border-color: rgba(127, 127, 127, 0.25) !important

.lotto-table
  overflow: hidden

  .hstack
    //position: relative

    &:first-of-type > .card
      border-top: 0

    height: calc((min(100vw, 560px) - 58px) / 9)
    .card
      //position: absolute
      width: calc((min(100vw, 560px) - 58px) / 9 + 7.75px)
      padding: calc(((min(100vw, 560px) - 58px) / 9 / 1.6) / 2) calc(((min(100vw, 560px) - 58px) / 9 / 4) / 2) 0 0
      text-align: center
      @extend .h-100
      margin: -3px -4px
      border-bottom: 0
      font-size: calc((min(100vw, 560px) - 58px) / 9 / 2.2)
      line-height: calc((min(100vw, 560px) - 58px) / 9 / 2.2)
      overflow: hidden

      &:last-of-type
        width: calc((min(100vw, 560px) - 58px) / 9 + 1.5px)
        padding-right: 0
        border-right: 0
        margin-right: -2px

      &:first-of-type
        padding-right: 0
        border-left: 0
        margin-left: -2px



      &.hoverable:hover
        background-color: #f5f5f5
        cursor: pointer

.barrel-lg
  background: url('/img/barrel.svg')
  background-size: contain
  //border: 1px solid #000
  background-repeat: no-repeat
  width: 88px
  height: 108px
  text-align: center
  font-size: 50px
  padding-top: 10px
  z-index: 10
  @extend .text-black

.barrel-shadow
  height: 60px
  width: 67px
  background: #0005
  border-radius: 180px 180px
  margin-top: 20px
  margin-left: 20px
  margin-bottom: -98px
  margin-right: -0px
  box-shadow: 0 0 1px 5px #0005
  z-index: 0

.barrel-sm
  @extend .bg-light
  @extend .text-black
  border-radius: 50%
  height: 30px
  width: 33px
  text-align: center
  border: 2px double #000
  border-right-width: 3px
  border-bottom-width: 5px
  padding-top: 2px
  box-shadow: .5px 1.5px 0 0 #000000

