.container-fluid
  .row
    .col.text-center
      .display-1 Game room
  .row.py-5
    .col.d-flex.flex-column
      .card
        .card-body(x-data="waitRoom")
          span.badge.bg-success.rounded-pill.float-end(x-text="`${room.speed === 2 ? 'Easy' : room.speed === 3 ? 'Med.' : 'Hard'}`" :class="{'bg-success': room.speed === 2, 'bg-warning': room.speed === 3, 'bg-danger': room.speed === 4}")
          h4.card-title(x-text="`ID: ${room.id}`")
          h6.card-subtitle.mb-2.text-body-secondary(x-text="'Waiting for other players: ' + room.users.length + '/5'")
          ul.list-group.mt-3.overflow-hidden
            template(:key="user.id")&attributes({"x-for": "user in room.users"})
              li.list-group-item.list-group-item-warning.fw-bold
                span(x-text="user.login")
            template()&attributes({"x-for": "num in remaining"})
              li.list-group-item.list-group-item-warning.placeholder-glow
                span.placeholder.w-50.border-2

          button(@click="exitRoom").btn.btn-md.btn-light.w-100.mt-3 Exit room

