template(x-teleport="body")
  .modal(
    x-show="$store.modal._showContent",
    @click.self="$store.modal.close()"
  )&attributes({
      "x-transition": "",
      "x-transition.duration.300ms": ""
    })
    #modalContent.panel(
      x-show="$store.modal._showContent && !$store.modal._modalContent"
    )
    .panel(
      x-show="$store.modal._showContent && $store.modal._modalContent",
      x-html="$store.modal._modalContent"
    )
