@use "~bootswatch/dist/sketchy/variables.scss" as t
.top-3
  top: 1rem

[data-bs-theme=light] .navbar
  @extend .bg-light
[data-bs-theme=dark] .navbar
  background-color: t.$gray-900
  & *
    @extend .text-body

.navbar
  .navbar-nav
    min-height: 1.5rem
  .navbar-brand
    pointer-events: none
